<input
  type="search"
  [formControl]="searchBox"
  placeholder="Enter the Search Query here"
  style="width: 100%; height: 30px;"
/>

<!-- [quickFilterText]="searchBox.valueChanges | async" -->
<!-- suppressRowTransform="true" -->
<!-- [rowClass]="'row-border'"
[rowStyle]="rowStyleObject" 
[getRowClass]="getRowClass"
[singleClickEdit]="'true'" 
(cellValueChanged)="cellValueChanged($event)" -->
<ag-grid-angular
  style="width: 100%; height: 300px; margin: 30px 0"
  class="ag-theme-alpine ag-theme-acmecorp"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [animateRows]="true"
  [rowSelection]="'multiple'"
  [defaultColDef]="defaultColDef"
  [columnTypes]="columnTypes"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (selectionChanged)="onRowSelectionChange()"
  [suppressDragLeaveHidesColumns]="'true'"
  [sortingOrder]="['asc', null, 'desc']"
  multiSortKey="ctrl"
  rowDragManaged="true"
  rowHeight="30"
  [rowClassRules]="getRowClassRules"
  [editType]="'fullRow'"
  (rowValueChanged)="rowValueChanged($event)"
>
</ag-grid-angular>

<div
  style="margin-bottom: 10px; padding: 10px 10px 0 10px; border: 1px solid grey"
>
  <input
    type="number"
    style="margin-bottom: 10px;"
    [formControl]="indexPosition"
  />
  <br />
  <button type="button" (click)="movePrice()">Move Price Column</button> |
  <button type="button" (click)="movePriceandModel()">
    Move Price and Model Columns
  </button>
</div>

<button type="button" (click)="supressRowDrag()">Suppress Row Drag</button>
|
<button type="button" (click)="deleteData()">Delete Selection</button>
|
<button type="button" (click)="updateData()">Update Data</button>
|
<button type="button" (click)="addNewData()">Add New Data</button>
|
<button type="button" (click)="selectAllRows()">Select All Rows</button>
|
<button type="button" (click)="deselectRowSelection()">
  Deselect All Rows
</button>
|
<button type="button" (click)="extractCSV()">Export CSV</button>
|
<button type="button" (click)="SortByMakeModel('asc')">
  Make and Model Ascending
</button>
|
<button type="button" (click)="SortByMakeModel('desc')">
  Make and Model Descending
</button>
|
<button type="button" (click)="togglePrice()">Toggle Price Column</button>

<div *ngIf="cellClickMessage" style="margin-top: 20px;">
  {{ cellClickMessage }}
</div>
